* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { width: 100%;}

.row { display: flex; flex-wrap: wrap;
    text-align: center; 
    color: white;
    font-size: 1rem;}

.col-1 { width: 8.333333%; }

.col-2 { width: 16.666667%; }

.col-3 { width: 25%; }

.col-4 { width: 33.333333%; }

.col-5 { width: 41.666667%; }

.col-6 { width: 50%; }

.col-7 { width: 58.333333%; }

.col-8 { width: 66.666667%; }

.col-9 { width: 75%; }

.col-10 { width: 83.333333%; }

.col-11 { width: 91.666667%; }

.col-12 { width: 100%; }

.logo {
    background-color: #7FFFD4;
    padding: 1rem;
}

.menu {
    background-color: #87CEFA;
    padding: 1rem;
}

.banner {
    background-color: #FF0000;
    padding: 4rem;
}

.bolum1, .bolum2, .bolum3 {
    background-color: #ADFF2F;
    height: calc(100vh - 20.9rem);
    border: 1px solid #808080;
}

.bolum4, .bolum5, .bolum6 {
    background-color: #FF6347;
    padding: 1rem;
    border: 1px solid #808080;
}

.footer {
    background-color: #EE82EE;
    padding: 2rem;

}
